<footer class="site-footer">
    <div class="footer-wrapper">
        <h2 class="footer-heading"><a href="/">{{ site.title | escape }}</a></h2>
        <div class="copyright">
            <p>
                Proudly powered by <a href="https://jekyllrb.com/">Jekyll</a>
                | Hosted by <a href="https://pages.github.com/">Google Pages</a>
                | Theme <a href="https://github.com/artemsheludko/lokmont">Lokmont</a>
                by <a href="https://artemsheludko.github.io/">Artem Sheludko</a>
            </p>
        </div>
    </div>
</footer>
