{% if post.image %}
    {% assign image = post.image %}
{% else %}
    {% assign image = site.placeholder %}
{% endif %}
<article class="posts">
    <a class="post-thumbnail hidden" href="{{post.url | relative_url}}"
       style="background-image: url({{image | relative_url}})">
        {% include home-post-author.html %}
        <div class="cover"></div>
    </a>
    <div class="post-body {{ body-full }}">
        <h2><a href="{{post.url | relative_url}}">{{post.title}}</a></h2>
        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncatewords: 20 }}{% endif %}</p>
    </div>

    {% include home-post-socials.html %}
</article> <!-- /.posts -->
