<header class="site-header clearfix">
    <div class="wrapper-content">
        <div class="navigation-wrap">
            <div class="nav-toggle-close"><i class="fa fa-times" aria-hidden="true"></i></div>
            <nav class="site-nav">
                {%- for page in site.pages -%}
                    {%- if page.title and page.in_navbar -%}
                        <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
                    {%- endif -%}
                {%- endfor -%}
            </nav>
        </div>

        <span class="search-toggle"><i class="fa fa-search" aria-hidden="true"></i></span>
        <div class="nav-toggle"><i class="fa fa-bars" aria-hidden="true"></i></div>

        <div class="site-logo">
            <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        </div>
    </div>
</header>
