---
layout: default
---

<div class="post-header">
    <div class="post-header-info">
        <h1 class="post-title">{{ page.title | escape }}</h1>
        <div class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%-d %B %Y" }}</time>
        </div>
    </div>
</div>

<div class="content-box">
    <article class="post">
        <div class="post-content">{{ content }}</div>

        <footer class="post-footer">
            {% include post-socials.html.liquid %}

            {% include post-tags.html.liquid %}
        </footer>

        {% include post-author.html.liquid %}

        {% include post-navigation.html.liquid %}

        {% include post-comments.html.liquid %}
    </article>
</div>
